* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.container {
    max-width: 1880px;
    overflow: hidden;
}

/* Style for Header */

/* .............................................................. */
/* style for navbar */
.header {
    position: relative;
    height: 100vh;
    width: 100%;
}

.header-logo {
    position: absolute;
    height: 100vh;
    width: 1600px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.navbar {
    position: absolute;
    height: 100px;
    width: 70%;
    border-bottom: 1px solid #EEC244;
    left: 16rem;
}

.nav-logo {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
}

.nav-logo img {
    height: 5rem;
    width: 6rem;
}

.nav-list {
    position: absolute;
    width: 500px;
    left: calc(50% - 545px/2 - 54.16px);
    top: 37.16px;
    bottom: 38.17px;

}

.nav-list ul {
    display: flex;
    margin-left: 10rem;
    align-items: center;
    justify-content: space-between;
    margin-left: 3rem;
}

.nav-list ul li {
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: .85rem;
    line-height: 20px;
}

.nav-list ul li::after {
    content: "-";
    color: #EEC244;
    height: 3px;
    width: 5px;
    padding-left: 1rem;
}

.nav-list ul .last-li::after {
    content: " ";
}

.nav-list a {

    text-decoration: none;
    color: white;
    transition: all .2s ease-in;
}

.nav-list a:hover {
    color: #EEC244;
}

.navbar-btn {
    position: absolute;
    right: 0;
    top: 1.5rem;
}

.nav-btn {
    width: 210px;
    height: 40px;
    right: 0.01px;
    top: 41.16px;
    background: #EEC244;
    cursor: pointer;
    border: none;
    font-size: 15px;
    font-weight: 400;
    align-items: center;
    text-align: center;
}


/* ......................Navbar style End................................................ */

/* Style for Header Main */

.header-main {
    position: absolute;
    top: 39%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 200px;
}

.prev-btn {
    padding-left: 0.7rem;
    border-radius: 50%;
    height: 40px;
    width: 50px;
}

.prev-btn button {
    height: 100%;
    width: 105%;
    border-radius: 50%;
    border: none;
    font-weight: 900;
    cursor: pointer;
}

.prev-btn button i {
    font-size: x-large
}

.next-btn {
    padding-right: 0.7rem;
    border-radius: 50%;
    height: 40px;
    width: 50px;
    margin-right: 1rem;
}

.next-btn button {

    height: 100%;
    width: 105%;
    border-radius: 50%;
    border: none;
    font-weight: 900;
    cursor: pointer;
}

.next-btn button i {
    font-size: x-large
}

.center-msg {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    height: 80%;
    margin-left: -20rem;
}

.center-msg h6 {
    color: #EEC244;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 200;
    font-size: .7rem;
    line-height: 21px;
    letter-spacing: 2px;
}

.center-msg h1 {
    margin: .5rem 0 .5rem 0;
    font-weight: 600;
    font-size: 3rem;
    line-height: 50px;
    letter-spacing: -2px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.center-msg p {
    font-weight: 300;
    font-size: .85rem;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.center-msg button {
    width: 190px;
    height: 100%;
    font-weight: 400;
    font-size: .8rem;
    line-height: 18px;
    text-align: center;
    color: #EEC244;
    padding: .7rem;
    background: transparent;
    border: 1px solid #EEC244;
}

/* Header style end here..... */
/* ......................................................................................... */

/* style for About section start here */

.about {
    position: relative;
    height: 500px;
    background-color: #dcd5d545;
}

.about>h1 {
    position: relative;
    font-family: 'Rubik doodle', system-ui;
    font-size: 140px;
    top: 3rem;
    left: 18rem;
    opacity: .05;
}

.about .about-container {
    height: 500px;
    width: 70%;
    margin-left: 8rem;
    position: relative;
    left: 8rem;
    display: flex;
    top: -2rem;
}

.about-container .about-msg {
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.about-container .about-msg h6 {
    padding-left: 1.5rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #EEC244;
}

.about-container .about-msg .abt-main-msg {
    margin-top: 15px;
    padding-left: 1.6rem;
    font-weight: 600;
    font-size: 35px;
    line-height: 49px;
    align-items: center;
    letter-spacing: -2px;
    color: #292929;
}

.about-container .about-msg .abt-para-msg {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #292929;
    margin-left: 1.5rem;
}

.about-msg button {
    width: 140px;
    margin-top: 1rem;
    font-weight: 400;
    font-size: .76rem;
    text-align: center;
    color: #FFFFFF;
    background-color: #EEC244;
    padding: .7rem;
    border: none;
    margin-left: 1.5rem;
}

.about-img {
    position: absolute;
    display: flex;
    gap: 15px;
    top: -3rem;
    right: 2rem;
}


.about-img .about-img1 img {
    width: 200px;
    height: 200px;
}

.about-img .about-img1 p {
    display: flex;
    flex-direction: column;
    align-items: center
}

.about-img .about-img1 p .span-first {
    font-size: 35px;
    color: #EEC244;
    font-weight: 800;
    position: relative;
    bottom: -22px;
}

.about-img .about-img1 p .span2 {
    color: #aca0a0;
    font-weight: 500;
    font-size: 15px;
}

.about-img .about-img2 img {
    position: relative;
    top: 1.5rem;
    width: 200px;
    height: 250px;
}

/* Style for About end here... */

/* Style for Information section start here... */

.prod-info {
    position: relative;
    height: 600px;
    margin-bottom: 15rem;
}

.info-container {
    position: absolute;
    background: url('./Asset/about-img-03.png') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.info-container .info-head-msg {
    position: absolute;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -2px;
    color: #FFFFFF;
    width: 550px;
    left: 30rem;
    top: 10.5rem;
    text-align: center;
}

.info-container .info-para-msg {
    position: absolute;
    width: 600px;
    height: 60px;
    left: 30rem;
    top: 20rem;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.info-container .info-btn {
    position: absolute;
    width: 8rem;
    height: 2.3rem;
    left: 43rem;
    top: 26rem;
    font-size: 13px;
    text-align: center;
    color: #292929;
    background: #EEC244;
    outline: none;
    border: none;
}

.info-box {
    position: absolute;
    height: 10rem;
    width: 70%;
    background-color: #FFFFFF;
    align-items: center;
    text-align: center;
    top: 35rem;
    left: 15rem;
    box-shadow: 0 5px 22px -10px #9b9494;
    border-radius: 1px;
    display: flex;
    justify-content: space-evenly;
}

.info-box h1 {
    font-size: 45px;
    color: #EEC244;
    font-weight: 600;
}

.info-box h3 {
    color: #aca0a0;
    font-weight: 700;
    font-size: 14px;
}

/* Style for Information section end here... */
