* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

/* Style for Header */

/* .............................................................. */
/* style for navbar */
.header {
    position: relative;
    height: 770px;
    width: 100%;
}

.header-logo {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    position: absolute;
    height: 100px;
    width: 70%;
    border-bottom: 1px solid #EEC244;
    left: 16rem;
}

.nav-logo {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
}

.nav-logo img {
    height: 5rem;
    width: 6rem;
}

.nav-list {
    position: absolute;
    width: 500px;
    left: 20%;
    top: 2.5rem;
}

.nav-list ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3rem;
}

.nav-list ul li {
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: .85rem;
    line-height: 20px;
}

.nav-list ul li::after {
    content: "-";
    color: #EEC244;
    height: 3px;
    width: 5px;
    padding-left: 1rem;
}

.nav-list ul .last-li::after {
    content: " ";
}

.nav-list a {

    text-decoration: none;
    color: white;
    transition: all .2s ease-in;
}

.nav-list a:hover {
    color: #EEC244;
}

.navbar-btn {
    position: absolute;
    right: 0;
    top: 1.5rem;
}

.nav-btn {
    width: 200px;
    height: 40px;
    right: 0.01px;
    top: 41.16px;
    background: #EEC244;
    border: none;
    font-size: .9rem;
    font-weight: 400;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all .2s ease-in;
}

.nav-btn:hover{
    background-color: transparent;
    border: 1px dotted #FFFFFF;
    color: #FFFFFF;
}



/* ......................Navbar style End................................................ */

/* Style for Header Main */

.header-main {
    position: absolute;
    top: 39%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
}

.prev-btn {
    padding-left: 0.7rem;
    border-radius: 50%;
    height: 40px;
    width: 50px;
}

.prev-btn button {
    height: 100%;
    width: 105%;
    border-radius: 50%;
    border: none;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.prev-btn button:hover{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.prev-btn button i {
    font-size: x-large
}

.next-btn {
    padding-right: 0.7rem;
    border-radius: 50%;
    height: 40px;
    width: 50px;
    margin-right: 1rem;
}

.next-btn button {

    height: 100%;
    width: 105%;
    border-radius: 50%;
    border: none;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.next-btn button:hover{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.next-btn button i {
    font-size: x-large
}

.center-msg {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    height: 80%;
    margin-left: -20rem;
    margin-top: 5rem;
}

.center-msg h6 {
    color: #EEC244;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 200;
    font-size: .7rem;
    line-height: 21px;
    letter-spacing: 2px;
}

.center-msg h1 {
    margin: .5rem 0 .5rem 0;
    font-size: 44px;
    line-height: 44px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.center-msg p {
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.center-msg button {
    width: 210px;
    height: 100%;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #EEC244;
    padding: .7rem;
    background: transparent;
    border: 2px solid #EEC244;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.center-msg button:hover{
    color: #FFFFFF;
    border: 2px dotted #FFFFFF;
}
/* Header style end here..... */
/* ......................................................................................... */

/* style for About section start here */

.about {
    position: relative;
    height: 500px;
}

.about>h1 {
    position: absolute;
    font-family: 'Rubik doodle', system-ui;
    font-size: 140px;
    top: 3rem;
    left: 18rem;
    opacity: .05;
}

.about .about-container {
    height: 340px;
    width: 70%;
    position: absolute;
    left: 16rem;
    display: flex;
    top: 10rem;
}

.about-container .about-msg {
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.about-container .about-msg h6 {
    padding-left: 1.5rem;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #EEC244;
}

.about-container .about-msg .abt-main-msg {
    margin-top: 15px;
    margin-bottom: 1rem;
    padding-left: 1.6rem;
    font-size: 39px;
    line-height: 44px;
    align-items: center;
    letter-spacing: -1px;
    color: #292929;
}

.about-container .about-msg .abt-para-msg {
    font-size: 13px;
    line-height: 18px;
    color: #292929;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.about-msg button {
    width: 140px;
    margin-top: 1rem;
    font-weight: 400;
    font-size: .76rem;
    text-align: center;
    color: #FFFFFF;
    background-color: #EEC244;
    padding: .7rem;
    border: none;
    margin-left: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out
}
.about-msg button:hover{
    background-color: #FFFFFF;
    color: #EEC244;
    border: 2px dotted #EEC244;
}

.about-img {
    position: absolute;
    display: flex;
    gap: 15px;
    top: -3rem;
    right: 2rem;
}


.about-img .about-img1 img {
    width: 200px;
    height: 200px;
}

.about-img .about-img1 p {
    display: flex;
    flex-direction: column;
    align-items: center
}

.about-img .about-img1 p .span-first {
    font-size: 35px;
    color: #EEC244;
    font-weight: 800;
    position: relative;
    bottom: -22px;
}

.about-img .about-img1 p .span2 {
    color: #aca0a0;
    font-weight: 500;
    font-size: 15px;
}

.about-img .about-img2 img {
    position: relative;
    top: 1.5rem;
    width: 200px;
    height: 250px;
}

/* Style for About end here... */

/* Style for Information section start here... */

.prod-info {
    position: relative;
    height: 600px;
    margin-bottom: 7rem;
}

.info-container {
    position: absolute;
    background: url('./Asset/about-img-03.png') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.info-container .info-head-msg {
    position: absolute;
    font-weight: 600;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -1px;
    color: #FFFFFF;
    width: 550px;
    left: 30rem;
    top: 10.5rem;
    text-align: center;
}

.info-container .info-para-msg {
    position: absolute;
    width: 574px;
    left: 30rem;
    top: 20rem;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.info-container .info-btn {
    position: absolute;
    width: 8rem;
    height: 2.3rem;
    left: 43rem;
    top: 26rem;
    font-size: 13px;
    text-align: center;
    color: #292929;
    background: #EEC244;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.info-container .info-btn:hover{
    background-color: transparent;
    color: #FFFFFF;
    border: 1px dotted #FFFFFF;
}
.info-box {
    position: absolute;
    height: 10rem;
    width: 70%;
    background-color: #FFFFFF;
    align-items: center;
    text-align: center;
    top: 35rem;
    left: 15rem;
    box-shadow: 0 5px 22px -10px #9b9494;
    border-radius: 1px;
    display: flex;
    justify-content: space-evenly;
}

.info-box h1 {
    font-size: 45px;
    color: #EEC244;
    font-weight: 600;
}

.info-box h3 {
    color: #807676;
    font-size: 14px;
    letter-spacing: .5px;
}

/* Style for Information section end here... */
/* ............................................................................................ */

/* Style for Services section start here... */

.services {
    height: 58rem;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.services>h1 {
    position: absolute;
    font-family: 'Rubik doodle', system-ui;
    font-size: 140px;
    top: 3rem;
    opacity: .05;
    text-align: center;
    left: 32rem;
}

.services .service-info {
    height: 18%;
    width: 100%;
    position: absolute;
    top: 7rem;
}

.services .service-info h6 {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #EEC244;
    position: absolute;
    left: 45rem;
}

.services .service-info h1 {
    position: absolute;
    left: 34.5rem;
    width: 31rem;
    top: 2.5rem;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 41px;
    letter-spacing: -1px;
    text-align: center;
}

.services .service-img {
    height: 70%;
    width: 100%;
    position: absolute;
    top: 17rem;
    display: flex;
    flex-wrap: wrap;
}

.service-img .service-img-container {
    width: 50%;
    height: 50%;
}

.service-img-container .img-card {
    height: 100%;
}

.service-img-container .img-card img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 50%;
}

.service-img-container .info-card-grp1 {
    position: relative;
    left: 50%;
    height: 100%;
    width: 50%;
    background-color: #292929;
    bottom: 100%;
}

.service-img-container .info-card-grp1 .info-msg {
    position: absolute;
    left: 18%;
    top: 70px;
    width: 15rem;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
}

.service-img-container .info-card-grp1 .info-para {
    position: absolute;
    width: 320px;
    left: 30px;
    top: 120px;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.service-img-container .info-btn {
    position: absolute;
    height: 2.5rem;
    left: 8rem;
    top: 12rem;
    width: 8rem;
    background: transparent;
    border: 2px solid #EEC244;
    color: #EEC244;
    font-size: .7rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.service-img-container .info-btn:hover{
    color: #FFFFFF;
    border: 2px dotted #FFFFFF;
}
.service-img-container .img-grp2 {
    position: relative;
    left: 50%;
}

.service-img-container .info-card-grp2 {
    position: absolute;
}

.service-img-container .info-card-grp2 .info-msg {
    position: absolute;
    left: 4rem;
    top: 5rem;
    width: 15rem;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 45px;
    text-align: center;
    color: #292929;
}

.service-img-container .info-card-grp2 .info-para {
    position: absolute;
    width: 320px;
    left: 30px;
    top: 120px;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #292929;
}

.service-img-container .info-card-grp2 .info-btn-grp2 {
    color: #292929;
    border: 2px solid #292929;
    transition: all 0.2s ease-in;
}
.service-img-container .info-card-grp2 .info-btn-grp2:hover{
    color: #EEC244;
    border: 2px dotted #EEC244;
}

/* Style for Services section end here... */
/* ..................................................................................... */

/* Style for Capability section start here... */

.cap-section {
    position: relative;
    height: 30rem;
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 6rem;
    background-color: #2D322D;
    display: flex;
}

.cap-section .cap-stats {
    height: 100%;
    width: 50%;
    position: relative;
}

.cap-section .cap-stats .cap-info {
    position: absolute;
    height: 11rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    top: 5rem;
    left: 15rem;
}

.cap-section .cap-stats .cap-info h6 {
    position: absolute;
    width: 15rem;
    height: 20px;
    top: 0px;
    font-weight: 400;
    font-size: .7rem;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #EEC244;

}

.cap-section .cap-stats .cap-info h1 {
    position: absolute;
    width: 30rem;
    height: 7rem;
    top: 2rem;
    font-size: 28px;
    align-items: center;
    color: #FFFFFF;
}

.cap-section .cap-stats .cap-info p {
    position: absolute;
    width: 25rem;
    top: 5.5rem;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
}

.cap-section .cap-stats .cap-bar {
    position: absolute;
    width: 25rem;
    height: 15rem;
    top: 50%;
    left: 31%;
}

.cap-bar .cap-bar-grp {
    display: inline-flex;
    align-items: center;
}

.cap-bar .cap-bar-grp h5 {
    font-size: 12px;
    letter-spacing: 1px;
    margin-right: 17rem;
    margin-bottom: .5rem;
    color: #FFFFFF;
    
}

.cap-bar .cap-bar-grp p {
    font-size: .8rem;
    color: #EEC244;
}

.cap-bar .cap-percent {
    height: .2rem;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 1rem;
    margin-bottom: .5rem;
}

.cap-bar .cap-percent .cap-inner-layer1 {
    height: .2rem;
    width: 85%;
    background-color: #EEC244;
}

.cap-bar .cap-percent .cap-inner-layer2 {
    height: .2rem;
    width: 79%;
    background-color: #EEC244;
}

.cap-bar .cap-percent .cap-inner-layer3 {
    height: .2rem;
    width: 81%;
    background-color: #EEC244;
}

.cap-bar .cap-percent .cap-inner-layer4 {
    height: .2rem;
    width: 88%;
    background-color: #EEC244;
}

.cap-img {

    background: url('./Asset/our-capacity-img-01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 50%;
}

/* Style for Capability section end here... */
/* ..................................................................................... */

/* Style for History section start here... */

.history {
    position: relative;
    width: 100%;
    height: 40rem;
    background-color: #f0f0f08a;
    margin-bottom: 3rem;
}

.history .history-img {
    position: absolute;
    background: url('./Asset/history-img.png') no-repeat;
    background-position: center;
    background-size: contain;
    left: -2.1rem;
    width: 65%;
    height: 100%;
}

.history .history-info {
    position: absolute;
    width: 35%;
    height: 50%;
    right: 1.3rem;
    top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.history .history-info h6 {
    width: 100%;
    height: 1.5rem;
    left: 0px;
    top: 0px;
    font-weight: 600;
    font-size: .75rem;
    line-height: 21px;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #EEC244;
}

.history .history-info h1 {
    width: 100%;
    font-weight: 600;
    font-size: 41px;
    line-height: 40px;
    letter-spacing: -2px;
    color: #292929;
}

.history .history-info p {
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #868686;
}


/* Style for History section end here... */
/* ..................................................................................... */

/* Style for project section start here */

.project {
    position: relative;
    height: 1100px;
    width: 100%;
}

.project>h1 {
    position: absolute;
    font-family: 'Rubik doodle', system-ui;
    font-size: 140px;
    top: -2rem;
    opacity: .05;
    text-align: center;
    left: 32rem;
}

.project .project-info {
    height: 30%;
    width: 100%;
    position: absolute;
    top: 2rem;
}

.project .project-info h6 {
    font-size: 11px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #EEC244;
    position: absolute;
    left: 41rem;
}

.project .project-info h1 {
    position: absolute;
    left: 30rem;
    width: 35rem;
    top: 2.5rem;
    font-weight: 600;
    font-size: 38px;
    line-height: 49px;
    letter-spacing: -1px;
}

.project .project-img {
    position: relative;
    left: 17%;
    height: 70%;
    width: 65%;
    top: 15%;
}

.project .project-img .img-grid {
    position: absolute;
    display: grid;
    gap: 10px;
    grid-template-areas:
        "I1 I2 I3"
        "I4 I5 I6";
}

.img-grid .item1 {
    grid-area: I1;
}

.img-grid .item2 {
    grid-area: I2;
}

.img-grid .item3 {
    grid-area: I3;
}

.img-grid .item4 {
    grid-area: I4;
}

.img-grid .item5 {
    grid-area: I5;
}

.img-grid .item6 {
    grid-area: I6;
}

.img-grid .item-grp {
    background: rgba(41, 41, 41, 0.5);
}

.img-grid img {
    position: relative;
    z-index: -1;
}

.img-grid img {
    width: 100%;
    height: 100%;
}

.img-grid .item-grp .img-info1 {
    position: absolute;
    top: 30%;
    width: 28%;
    margin-left: 2.5rem;
    height: 9rem;
}

.img-grid .item-grp .img-info2 {
    position: absolute;
    bottom: 1rem;
    margin-left: 2.5rem;
    width: 28%;
    height: 9rem;
}

.project-img .img-grid .img-head {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #FFFFFF;
}

.project-img .img-grid .img-para {
    width: 215px;
    font-size: .8rem;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
}

.project-img .img-grid .img-btn {
    width: 6rem;
    height: 2rem;
    font-size: 11px;
    text-align: center;
    color: #FFFFFF;
    background: #EEC244;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.project-img .img-grid .img-btn:hover{
    background-color: transparent;
    color: #EEC244;
    border: 2px dotted #EEC244;
}


/* Style for Project section end here... */
/* ..................................................................................... */

/* Style for Testimonial section start here... */

.testimonial {
    position: relative;
    height: 600px;
    width: 100%;
}

.testimonial>h1 {
    position: absolute;
    font-family: 'Rubik doodle', system-ui;
    font-size: 140px;
    opacity: .05;
    text-align: center;
    left: 25rem;
}

.testimonial .test-icon h1 {
    position: absolute;
    left: 50%;
    top: 2rem;
    color: #EEC244;
    font-weight: 900;
    font-size: 5rem;
}

.testimonial .test-head-msg h1 {
    position: absolute;
    left: 37rem;
    width: 31rem;
    top: 8rem;
    font-weight: 600;
    font-size: 38px;
    letter-spacing: -2px;
}

.testimonial .test-feedback {
    position: absolute;
    top: 7rem;
    left: 5.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 90%;
    margin-right: 8rem;
}

.testimonial .test-feedback .feedback-grp {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: start;
    height: 50%;
}

.testimonial .test-feedback .feedback-grp p {
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    color: #868686;
    margin-bottom: 1rem;
    text-align: center;
}

.testimonial .feedback-grp .feedback-user .feedback-user-info {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.testimonial .feedback-grp .feedback-user .feedback-user-info .user-details {
    position: relative;
    left: 1.2rem;
    top: 0.75rem;
    color: #868686;
}

.testimonial .pagi-icon {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 2.5rem;
}

.testimonial .pagi-icon .pagi-circle-grp {
    position: relative;
    background-color: #afabab4a;
    height: 0.5rem;
    width: 0.5rem;
    display: inline-block;
    left: 44rem;
    border-radius: 100%;
    margin-left: 5px;
}

.testimonial .pagi-icon .pagi-circle {
    background-color: #EEC244;
}

/* Style for Testimonial section end here... */
/* ............................................................. */

/* Style for dream home section start here */

.drm-home {
    position: relative;
    height: 423px;
    width: 100%;
    background: url('./Asset/dream-home-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.drm-home .drm-home-info {
    position: absolute;
    top: 7rem;
    left: 17rem;
    height: 70%;
    width: 35rem;
}

.drm-home .drm-home-info .drm-home-head {
    width: 375px;
    font-size: 33px;
    letter-spacing: -1px;
    color: rgb(255, 255, 255);
    padding-bottom: 1rem;
}

.drm-home .drm-home-info .drm-home-para {
    font-size: 13px;
    width: 500px;
    color: rgb(255, 255, 255);
    line-height: 20px;
    margin-bottom: 1.5rem;
}

.drm-home .drm-home-info .drm-home-btn {
    width: 7rem;
    height: 2.5rem;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    background: #EEC244;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.drm-home .drm-home-info .drm-home-btn:hover{
    background-color: transparent;
    color: #EEC244;
    border: 2px dotted #EEC244;
}

/* Style for dream home section end here */
/* .............................................................. */

/* Style for footer section start here */

.footer {
    position: relative;
    height: 350px;
    width: 100%;
    background-color: #2D322D;
}

.footer .footer-top {
    position: absolute;
    display: flex;
    align-items: center;
    width: 66%;
    left: 17%;
    top: 12%;
    height: 60%;
}

.footer-top .footer-logo {
    width: 60%;
}

.footer-top .footer-logo .footer-logo-img img {
    height: 6rem;
    width: 6rem;
}

.footer-top .footer-logo .footer-logo-msg {
    width: 82%;
    height: 71px;
    font-size: 0.75rem;
    line-height: 20px;
    color: #FFFFFF;
}

.footer-top .footer-link {
    width: 14rem;
    height: 11rem;
}

.footer-top h4 {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: #FFFFFF;
}

.footer-top .footer-link .link-list ul li{
    list-style: none;
    padding-bottom: .5rem;
}

.footer-top .footer-link .link-list ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: .8rem;
    transition: all 0.2s ease-in;
}
.footer-top .footer-link .link-list ul li a:hover{
    color: #EEC244;
}

.footer-top .footer-contact{
    width: 14rem;
    height: 11rem;
    padding-left: 5rem;
}
.footer-top .footer-contact .contact-list{
    font-size: .8rem;
    color: #FFFFFF;
    line-height: 1.2rem;
    width: 12rem;
}
.footer-top .footer-contact .contact-list img{
    height: 17px; 
    width: 20px; 
    margin-top: 3px; 
    margin-right: 10px;
}

.footer-top .footer-contact .contact-list .contact-address{
    display: flex;
    margin-bottom: .5rem;
}
.footer-top .footer-contact .contact-list .contact-phone{
    display: flex;
    margin-bottom: .5rem;
}

.footer-top .footer-contact .contact-list .contact-email{
    display: flex;
}
.footer-top .footer-news{
    width: 40rem;
    height: 11rem;
    margin-left: 5rem;
}
.footer-top .footer-news .news-info .news-msg p{
    
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.footer-top .footer-news .news-info .news-input input{
    height: 40px;
    background: #FAF9FD;
    border: 1px solid #FAF9FD;
    width: 100%;
    padding: 1rem;
    margin-bottom: 10px;
}
.footer-top .footer-news .news-info .news-btn {
    position: relative;
    height: 40px;
    width: 100%;   
    background-color: transparent;
    color: #EEC244;
    outline: none;
    border: 1px solid #EEC244; 
}

.footer-top .footer-news .news-info .news-btn img {
    position: absolute;
    z-index: 1;
    height: 17px; 
    width: 20px;
    top: 30%;
    left: 32%;
}

.footer-top .footer-news .news-info .news-btn button {
    position: absolute;
    height: 40px;
    width: 100%;    
    text-align: center;
}
.footer .footer-bottom{
    position: absolute;
    bottom: 1rem;
    border-top: 0.01rem solid gray;
    padding-top: 1rem;
    width: 68%;
    display: flex;
    left: 16%;
    align-items: center;
    justify-content: space-between;
}
.footer .footer-bottom .footer-copyright p{
    font-size: 12px;
    color: #FAF9FD;
}

.footer .footer-bottom .footer-medialink{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95px;
}
.footer .footer-bottom .footer-medialink a{
    text-decoration: none;
}
.footer .footer-bottom .footer-medialink a i{
    color: #FAF9FD;
    font-size: 19px;
}

/* Style for footer section end here */